<main class="container">
    <div class="mt-5 p-5">
     <%= image_tag "Diseño sin título.png", height: 400, length: 300 %>
    </div>


<div class="position-absolute start-50 translate-middle mx-auto mb-5">
<a class="btn btn-outline-success" href="#">
    <font style="vertical-align: inherit;">Crear sala</font>
</a>
</div>
</main>