<div class="row align-items-center container mx-auto mt-5">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://i.ibb.co/BsPFV6P/perfil-valtteri-bottas-2022-soymotor.png" class="img-thumbnail"  alt="perfil-valtteri-bottas-2022-soymotor" border="0"></a> 
            <div class="card-body">
                <h6 class="card-title">1A</h6>
                <h5 class="card-title">Valtteri Bottas</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Equipo</li>
                <li class="list-group-item">Adelantamiento    21</li>
                <li class="list-group-item">Capacidad para clima humedo    16</li>
                <li class="list-group-item">Consistencia    18</li>
                <li class="list-group-item">Defender   29</li>
                <li class="list-group-item">Gestion de combible   25</li>
                <li class="list-group-item">Gestiond de Neumaticos   31</li>
            </ul>
        </div>
    </div>
     <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://i.ibb.co/W2W92hq/guanyu-zhou-alfa-romeo-1.jpg" class="img-thumbnail"  alt="guanyu-zhou-alfa-romeo-1" border="0"> 
            <div class="card-body">
                <h6 class="card-title">1B</h6>
                <h5 class="card-title">Guanyo Zhou</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Equipo</li>
                <li class="list-group-item">Adelantamiento    21</li>
                <li class="list-group-item">Capacidad para clima humedo    16</li>
                <li class="list-group-item">Consistencia    18</li>
                <li class="list-group-item">Defender   29</li>
                <li class="list-group-item">Gestion de combible   25</li>
                <li class="list-group-item">Gestiond de Neumaticos   31</li>
            </ul>
        </div>
    </div>
</div>
<div class="row align-items-center container mx-auto mt-5">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://i.ibb.co/cFJ0Sdk/descarga.jpg" class="img-thumbnail"  alt="descarga" border="0">
            <div class="card-body">
                <h6 class="card-title">1C</h6>
                <h5 class="card-title">Fernando Alonso</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Equipo</li>
                <li class="list-group-item">Adelantamiento    31</li>
                <li class="list-group-item">Capacidad para clima humedo    23</li>
                <li class="list-group-item">Consistencia    28</li>
                <li class="list-group-item">Defender   32</li>
                <li class="list-group-item">Gestion de combible   36</li>
                <li class="list-group-item">Gestiond de Neumaticos   30</li>
            </ul>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://i.ibb.co/G0M008T/esteban-ocon-alpine-1.jpg" class="img-thumbnail"  alt="esteban-ocon-alpine-1" border="0">
            <div class="card-body">
                <h6 class="card-title">1D</h6>
                <h5 class="card-title">Esteban Ocon</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Equipo</li>
                <li class="list-group-item">Adelantamiento    19</li>
                <li class="list-group-item">Capacidad para clima humedo    21</li>
                <li class="list-group-item">Consistencia    22</li>
                <li class="list-group-item">Defender   30</li>
                <li class="list-group-item">Gestion de combible   34</li>
                <li class="list-group-item">Gestiond de Neumaticos   32</li>
            </ul>
        </div>
    </div>
</div>
<div class="row align-items-center container mx-auto mt-5">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://i.ibb.co/jf8zJLG/pierre-gasly-alphatauri-1.jpg" class="img-thumbnail"  alt="pierre-gasly-alphatauri-1" border="0">
            <div class="card-body">
                <h6 class="card-title">1E</h6>
                <h5 class="card-title">Pierre Gasly</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Equipo</li>
                <li class="list-group-item">Adelantamiento    28</li>
                <li class="list-group-item">Capacidad para clima humedo    22</li>
                <li class="list-group-item">Consistencia    26</li>
                <li class="list-group-item">Defender   32</li>
                <li class="list-group-item">Gestion de combible   36</li>
                <li class="list-group-item">Gestiond de Neumaticos   38</li>
            </ul>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://i.ibb.co/KXYBfHS/yuki-tsunoda-alphatauri-1.jpg" class="img-thumbnail"  alt="yuki-tsunoda-alphatauri-1" border="0">
            <div class="card-body">
                <h6 class="card-title">1F</h6>
                <h5 class="card-title">Yuki Tsunoda</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Equipo</li>
                <li class="list-group-item">Adelantamiento    19</li>
                <li class="list-group-item">Capacidad para clima humedo    11</li>
                <li class="list-group-item">Consistencia    23</li>
                <li class="list-group-item">Defender   20</li>
                <li class="list-group-item">Gestion de combible   23</li>
                <li class="list-group-item">Gestiond de Neumaticos   22</li>
            </ul>
        </div>
    </div>
</div>
<div class="row align-items-center container mx-auto mt-5">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://i.ibb.co/BtGkMq3/sebastian-vettel-aston-martin-1.jpg" class="img-thumbnail"  alt="sebastian-vettel-aston-martin-1" border="0">
            <div class="card-body">
                <h6 class="card-title">1G</h6>
                <h5 class="card-title">Sebastian Vettel</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Equipo</li>
                <li class="list-group-item">Adelantamiento    26</li>
                <li class="list-group-item">Capacidad para clima humedo    27</li>
                <li class="list-group-item">Consistencia    26</li>
                <li class="list-group-item">Defender   27</li>
                <li class="list-group-item">Gestion de combible   27</li>
                <li class="list-group-item">Gestiond de Neumaticos   27</li>
            </ul>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://i.ibb.co/KXYBfHS/yuki-tsunoda-alphatauri-1.jpg" class="img-thumbnail"  alt="yuki-tsunoda-alphatauri-1" border="0">
            <div class="card-body">
                <h6 class="card-title">1H</h6>
                <h5 class="card-title">Yuki Tsunoda</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Equipo</li>
                <li class="list-group-item">Adelantamiento    19</li>
                <li class="list-group-item">Capacidad para clima humedo    11</li>
                <li class="list-group-item">Consistencia    23</li>
                <li class="list-group-item">Defender   20</li>
                <li class="list-group-item">Gestion de combible   23</li>
                <li class="list-group-item">Gestiond de Neumaticos   22</li>
            </ul>
        </div>
    </div>
</div>
<div class="row align-items-center container mx-auto mt-5">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://i.ibb.co/VggJq6J/lance-stroll-aston-martin-1.jpg" class="img-thumbnail"  alt="lance-stroll-aston-martin-1" border="0">
            <div class="card-body">
                <h6 class="card-title">2A</h6>
                <h5 class="card-title">Lance Stroll</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Equipo</li>
                <li class="list-group-item">Adelantamiento    24</li>
                <li class="list-group-item">Capacidad para clima humedo    22</li>
                <li class="list-group-item">Consistencia    21</li>
                <li class="list-group-item">Defender   25</li>
                <li class="list-group-item">Gestion de combible   23</li>
                <li class="list-group-item">Gestiond de Neumaticos   23</li>
            </ul>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://i.ibb.co/KhWv9T0/perfil-charles-leclerc-2022-soymotor.png" class="img-thumbnail"  alt="perfil-charles-leclerc-2022-soymotor" border="0">
            <div class="card-body">
                <h6 class="card-title">2B</h6>
                <h5 class="card-title">Charles Leclerc</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Equipo</li>
                <li class="list-group-item">Adelantamiento    27</li>
                <li class="list-group-item">Capacidad para clima humedo    28</li>
                <li class="list-group-item">Consistencia    35</li>
                <li class="list-group-item">Defender   29</li>
                <li class="list-group-item">Gestion de combible   37</li>
                <li class="list-group-item">Gestiond de Neumaticos   42</li>
            </ul>
        </div>
    </div>
</div>
<div class="row align-items-center container mx-auto mt-5">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://i.ibb.co/QY2pVcf/carlos-sainz-jr-ferrari-1.jpg" class="img-thumbnail"  alt="carlos-sainz-jr-ferrari-1" border="0">
            <div class="card-body">
                <h6 class="card-title">2C</h6>
                <h5 class="card-title">Carlos Sainz</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Equipo</li>
                <li class="list-group-item">Adelantamiento    23</li>
                <li class="list-group-item">Capacidad para clima humedo    31</li>
                <li class="list-group-item">Consistencia    31</li>
                <li class="list-group-item">Defender   34</li>
                <li class="list-group-item">Gestion de combible   33</li>
                <li class="list-group-item">Gestiond de Neumaticos   33</li>
            </ul>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://i.ibb.co/QpDdmyT/perfil-kevin-magnussen-2022-soymotor-1-1.png" class="img-thumbnail" alt="perfil-kevin-magnussen-2022-soymotor-1-1" border="0">
            <div class="card-body">
                <h6 class="card-title">2D</h6>
                <h5 class="card-title">Kevin Magnussen</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Equipo</li>
                <li class="list-group-item">Adelantamiento    7</li>
                <li class="list-group-item">Capacidad para clima humedo    3</li>
                <li class="list-group-item">Consistencia    4</li>
                <li class="list-group-item">Defender   15</li>
                <li class="list-group-item">Gestion de combible   15</li>
                <li class="list-group-item">Gestiond de Neumaticos   14</li>
            </ul>
        </div>
    </div>
</div>
<div class="row align-items-center container mx-auto mt-5">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://i.ibb.co/VTv4WMW/mick-schumacher-haas-f1-team-1.jpg" class="img-thumbnail"  alt="mick-schumacher-haas-f1-team-1" border="0">
            <div class="card-body">
                <h6 class="card-title">2E</h6>
                <h5 class="card-title">Mick Shumacher</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Equipo</li>
                <li class="list-group-item">Adelantamiento    10</li>
                <li class="list-group-item">Capacidad para clima humedo    9</li>
                <li class="list-group-item">Consistencia    2</li>
                <li class="list-group-item">Defender   7</li>
                <li class="list-group-item">Gestion de combible   4</li>
                <li class="list-group-item">Gestiond de Neumaticos   2</li>
            </ul>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://i.ibb.co/w6dX5xM/lando-norris-mclaren-1.jpg" class="img-thumbnail" alt="lando-norris-mclaren-1" border="0">
            <div class="card-body">
                <h6 class="card-title">2F</h6>
                <h5 class="card-title">Lando Norris</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Equipo</li>
                <li class="list-group-item">Adelantamiento    30</li>
                <li class="list-group-item">Capacidad para clima humedo    32</li>
                <li class="list-group-item">Consistencia    28</li>
                <li class="list-group-item">Defender   32</li>
                <li class="list-group-item">Gestion de combible   41</li>
                <li class="list-group-item">Gestiond de Neumaticos   39</li>
            </ul>
        </div>
    </div>
</div>
<div class="row align-items-center container mx-auto mt-5">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://i.ibb.co/WvZTgLb/daniel-ricciardo-mclaren-1.jpg" class="img-thumbnail"  alt="daniel-ricciardo-mclaren-1" border="0">
            <div class="card-body">
                <h6 class="card-title">2G</h6>
                <h5 class="card-title">Daniel Ricciardo</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Equipo</li>
                <li class="list-group-item">Adelantamiento    21</li>
                <li class="list-group-item">Capacidad para clima humedo    24</li>
                <li class="list-group-item">Consistencia    25</li>
                <li class="list-group-item">Defender   23</li>
                <li class="list-group-item">Gestion de combible   33</li>
                <li class="list-group-item">Gestiond de Neumaticos   37</li>
            </ul>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://i.ibb.co/2Njp0w9/lewis-hamilton-mercedes-1.jpg" class="img-thumbnail" alt="lewis-hamilton-mercedes-1" border="0">
            <div class="card-body">
                <h6 class="card-title">2H</h6>
                <h5 class="card-title">Lewis Hamilton</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Equipo</li>
                <li class="list-group-item">Adelantamiento    32</li>
                <li class="list-group-item">Capacidad para clima humedo    28</li>
                <li class="list-group-item">Consistencia    38</li>
                <li class="list-group-item">Defender   38</li>
                <li class="list-group-item">Gestion de combible   33</li>
                <li class="list-group-item">Gestiond de Neumaticos   38</li>
            </ul>
        </div>
    </div>
</div>