<div class="container">
  <div id="<%= dom_id room %>">
    <p>
      <strong>Creador de la sala</strong>
      <%= user.name %>
    </p>

    <p>
      <strong>Nombre de la sala</strong>
      <%= room.nombre %>
    </p>

    <p>
      <strong>Codigo de la sala</strong>
      #<%= room.room_hex %>
    </p>

  </div>
</div>
