<h1>New room</h1>

 <%= render "form", room: @room %>

<br>

<div>
  <%= link_to "Back to rooms", rooms_path %>
</div> 
<div class="container">
    <div id="player1"></div>
</div>
<div class="container, ">
    <div id="player2"></div>
</div>